
.editor-main-wrapper {
  //margin-top: 50px;
  &:fullscreen {
    overflow: auto;
    background: white !important;
  }
  //滚动条凹槽的颜色，还可以设置边框属性
  ::-webkit-scrollbar-track-piece {
    background-color:#f8f8f8;
  }
  //滚动条的宽度
  ::-webkit-scrollbar {
    width:9px;
    height:9px;
  }
  //滚动条的设置
  ::-webkit-scrollbar-thumb {
    background-color:#dddddd;
    background-clip:padding-box;
    min-height:28px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color:#bbb;
  }
}

/* Sub header */
.subheader {
  background-color: #e8edf1;
  min-height: 60px;
  border-bottom: 1px solid #a4acb9;

  & > div > .btn-group {
    margin: 12px 15px 0px 0px;
  }
  & > div > .pull-right {
    margin-top: 12px;
    margin-right: 5px;
  }

  .version {
    font-weight: bold;
    color: #2980b9;
    font-size: 110%;
    padding-left: 5px;
    line-height: 1;
    padding-right: 5px;
    border-right: 1px solid #a4acb9;
    margin-right: 5px;
  }
  .btn {
    border-color: #e8edf1;
  }

  .dropdown-menu .detail {
    vertical-align: middle;
    color: #1a1a1a;
  }

  h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #1a1a1a;
    font-size: 20px;
    font-weight: normal;
    padding: 19px 0px 5px 10px;
    margin-top: 0px;
  }
  p {
    font-size: 14px;
    color: #1a1a1a;
    word-wrap: break-word;

    &.hint a {
      cursor: pointer;
      color: #1a1a1a;
    }
  }
  a.btn:hover, a.btn:focus {
    border-color: #e8edf1;
    color: #ffffff;
  }
  a.action {
    color: #1a1a1a;
    margin-right: 10px;
    line-height: 36px;
    text-decoration: underline;
    font-size: 14px;
    i {
      text-decoration: none;
      font-style: normal;
    }
  }

  .subheader a:hover {
    color: #606b7d;
  }
  .details {
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
    &.subheader .details {
      margin-bottom: 5px;
      margin-left: -1px;
      border-right: 1px solid #a4acb9;
      border-left: 1px solid #a4acb9;
      padding: 0px 15px 5px 15px;
    }
    & > span, span.detail {
      font-size: 13px;
      display: block;
      padding-bottom: 5px;
    }
    p {
      font-size: 13px;
    }
  }
  .related {
    float: right;
    margin: 0 -10px 10px 10px;
  }
  .highlight {
    color: #ffeeaa;
  }
}

.subheader .details span i, span.detail i {
  font-size: 90%;
  padding-right: 8px;
}

.editor-toolbar {
  padding-left: 5px;

  .btn-group {
    margin: 12px 15px 0px 0px;
  }
  .btn-group.pull-right {
    margin: 0;
  }
  .btn {
    display: inline-block;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.disabled, &[disabled] {
      cursor: not-allowed;
      pointer-events: none;
      opacity: .65;
    }
  }
  .btn.btn-inverse {
    font-size: 24px;
    color: #FFFFFF;
    background-color: #2980b9;
    padding: 3px 6px 0px 6px;
    box-shadow: none;
    text-shadow: none;
    text-align: center;
    border: none;
    margin: 0px 0px 0px 5px;
    height: 36px;
    min-width: 36px;
  }
  .btn.btn-inverse.pressed {
    background-color: #287d92;
    color: #174753;
  }
  .btn.btn-inverse.disabled,
  .btn.btn-inverse[disabled],
  .btn.btn-inverse[disabled]:active,
  .btn.btn-inverse[disabled]:hover {
    background-color: #668b94;
    border-color: #668b94;
  }

  .btn.btn-inverse.separator {
    background: transparent;
    padding: 4px 5px 0px 5px;
    width: 1px;
    min-width: 1px;
  }

  .toolbar-separator {
    background: #a4acb9;
    width: 1px;
    height: 30px;
  }

  /* Editor icon font */
  .editor-icon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'ActivitiModeler';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .editor-icon-save:before {
    content: 'a';
  }
  .editor-icon-edit:before {
    content: 'b';
  }
  .editor-icon-cut:before {
    content: 'c';
  }
  .editor-icon-copy:before {
    content: 'd';
  }
  .editor-icon-paste:before {
    content: 'e';
  }
  .editor-icon-delete:before {
    content: 'f';
  }
  .editor-icon-redo:before {
    content: 'h';
  }
  .editor-icon-undo:before {
    content: 'g';
  }
  .editor-icon-same-size:before {
    content: 'i';
  }
  .editor-icon-zoom-in:before {
    content: 'k';
  }
  .editor-icon-zoom-out:before {
    content: 'l';
  }
  .editor-icon-zoom-actual:before {
    content: 'm';
  }
  .editor-icon-zoom-fit:before {
    content: 'j';
  }
  .editor-icon-bendpoint-add:before {
    content: 'n';
  }
  .editor-icon-bendpoint-remove:before {
    content: 'o';
  }
  .editor-icon-align-horizontal:before {
    content: 'p';
  }
  .editor-icon-align-vertical:before {
    content: 'q';
  }
}

.flow-content-box {
  height: calc(100% - 60px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

/*********
 * SVG Style
 */
text,
text * {
  cursor: default;
  -webkit-user-select: none;
}

.paletteHelpWrapper {
  width: 200px;
  transition: 0.3s width;
}

.stencils {
  border-right: 1pt solid #c7cacd;
  overflow: auto;
  z-index: 5000;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;

  .stencil-group {
    list-style: none;
    list-style-position: outside;
    margin: 0px 15px 0px 0px;

    ul {
      padding-left: 0;

      li {
        list-style: none;
        list-style-position: outside;
        margin: 0 0 5px 15px;
        background-color: #ffffff;
        font-family: Arial, Regular;
        font-size: 14px;
        color: #323437;
      }
    }
  }

  .group-name {
    height: 30px;
    line-height: 30px;
    background-color: #F3F3F3;
    padding: 0 2px 0 19px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);

    & + ul {
      li {
        display: inline-block;
        cursor: pointer;
        padding: 4px 6px;
        text-align: left;
      }
    }
  }
}

.contentCanvasWrapper {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Modeling Canvas
-------------------------------- */
.canvasHelpWrapper {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.canvasSection.canvas-wrapper {
  overflow: auto;
  background-color: #F8F8F8;
  max-height: 100%;
}

.ORYX_Editor {
  background: white;
  border: none;
  margin: -5px;
  margin-top: 0px;
  width: 1200px;
  height: 600px;
}

.ORYX_Editor svg {
  background-color: rgb(255, 255, 255);
  //background-image: linear-gradient(#f1f1f1 1px, transparent 0),
  //linear-gradient(to right, #f1f1f1 1px, transparent 0),
  //linear-gradient(#f1f1f1 2px, transparent 0),
  //linear-gradient(to right, #f1f1f1 2px, transparent 0);
  //background-size: 30px 30px, 30px 30px, 90px 90px, 90px 90px;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDcgTCAyOCA3IE0gNyAwIEwgNyAyOCBNIDAgMTQgTCAyOCAxNCBNIDE0IDAgTCAxNCAyOCBNIDAgMjEgTCAyOCAyMSBNIDIxIDAgTCAyMSAyOCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBvcGFjaXR5PSIwLjIiIHN0cm9rZS13aWR0aD0iMSIvPjxwYXRoIGQ9Ik0gMjggMCBMIDAgMCAwIDI4IiBmaWxsPSJub25lIiBzdHJva2U9IiNlMGUwZTAiIHN0cm9rZS13aWR0aD0iMSIvPjwvcGF0dGVybj48L2RlZnM+PHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmlkKSIvPjwvc3ZnPg==);
  background-position: -11px -23px;
}

#oryxcanvas {
  width: 1200px;
  height: 600px;
}

/** 画布辅助元素 */

/** Resizer for the Canvas **/
.canvas_resize_indicator {
  position: absolute;
  display: block;
  margin: auto;
  opacity: 0.6;

  &:hover {
    opacity: 1.0;
  }
  &.N, &.S, &.E, &.W {
    margin: 0;
    background: #5fbcd3;
    height: 17px;
    width: 17px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  &.N, &.S {
    &.canvas_resize_indicator_shrink {
      left: 50%;
      transform: translateX(-9px);
    }
    &.canvas_resize_indicator_grow {
      left: 50%;
      transform: translateX(9px);
    }
  }
  &.N {
    top: 20px;
  }
  &.S {
    bottom: 20px;
  }
  &.W, &.E {
    &.canvas_resize_indicator_shrink {
      top: 50%;
      transform: translateY(-9px);
    }
    &.canvas_resize_indicator_grow {
      top: 50%;
      transform: translateY(9px);
    }
  }
  &.W {
    left: 20px;
  }
  &.E {
    right: 20px;
  }
  i {
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
  }
}

/** 快捷按钮 **/
#flow_op_btns {
  position: absolute;
}

#flow_add_btns {
  position: absolute;
  max-width: 72px;
}

.Oryx_button {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 2px;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;

  &:hover {
    background-color: #999999;
    background-color: rgba(193, 229, 238, 0.7);
    opacity: 1 !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  img {
    width: 16px;
    height: 16px;
    line-height: 16px;
  }
}

.Oryx_button_with_caption {
  width: inherit;
  height: 16px;
  padding: 4px;
  position: absolute;
}

/*** Resizer ***/
.resizer_south,
.resizer_north,
.resizer_east,
.resizer_west,
.resizer_southeast,
.resizer_northwest {
  width: 12px;
  height: 12px;
  position: relative;
  background-color: transparent;
  background-repeat: no-repeat;
}

.resizer_southeast {
  background-image: url('./images/se-handle-dark.gif');
  cursor: se-resize;
  background-position: 4px 4px;
}

.resizer_northwest {
  background-image: url('./images/nw-handle-dark.gif');
  cursor: nw-resize;
  background-position: -2px -2px;
}

.resizer_south {
  width: 100%;
  height: 6px;
  border-top: 1px solid #5581b9;
  border-bottom: 1px solid #5581b9;
  cursor: s-resize;
}

.resizer_north {
  width: 100%;
  height: 6px;
  border-bottom: 1px solid #5581b9;
  border-top: 1px solid #5581b9;
  cursor: n-resize;
}

.resizer_east {
  height: 100%;
  width: 6px;
  border-left: 1px solid #5581b9;
  border-right: 1px solid #5581b9;
  cursor: e-resize;
}

.resizer_west {
  height: 100%;
  width: 6px;
  border-left: 1px solid #5581b9;
  border-right: 1px solid #5581b9;
  cursor: w-resize;
}

.canvas-message {
  position: absolute;
  top: 60px;
  right: 10px;
  background: transparent;
  font-size: 10pt;
}

/**Process navigator */
#process-treeview-wrapper {
  height: 200px;
  background: #f3f3f3;
  border-right: 1px solid #bbbbbb;
  overflow-y: auto;
}

.process-treeview-header {
  background: #2980b9;
  color: white;
  border: 1px solid #bbbbbb;
  padding: 2px;
  padding-left: 5px;
  font-size: 14px;
  font-weight: bold;
}

.process-treeview-process-title {
  padding: 5px;
  font-weight: bold;
}

.process-treeview {
  margin-top: 5px;
}

.process-treeview-list {
  padding: 0 10px;
  list-style-type: none;
}

.process-treeview-list-item:hover {
  cursor: pointer;
  font-weight: bolder;
  font-style: italic;
}

.current-process {
  border: 1px solid green;
}

div.propertySection {
  height: 250px;
  background-color: #e8edf1;
  margin-bottom: 0;
}

.selected-item-title {
  font-size: 25px;
  font-weight: bold;
  padding: 8px 0 8px 8px;
  border-bottom: 1px solid #a4acb9;
  cursor: pointer;
}

.selected-item-title a {
  display: block;
  color: #1a1a1a;
}

.selected-item-title .glyphicon {
  line-height: 25px;
  font-size: 14px;
}

.selected-item-title a:hover, .selected-item-title a:focus {
  color: #1a1a1a;
  text-decoration: none;
}

.selected-item-section > div > .pull-right {
  line-height: 50px;
  margin: 0px 10px;
  font-size: 14px;
}

.selected-item-body .property-row {
  float: left;
  width: 50%;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 13px;
  overflow: hidden;
}

.selected-item-body .property-row:hover {
  background-color: #d7dfe6;
}

.selected-item-body .property-row.disable-pro {
  background: #b7b2b2;
}

.selected-item-body {
  padding: 0;
  overflow: auto;
  height: 199px;
}

.selected-item-body > div {
  overflow: hidden;
  margin: 5px 20px;
}

.property-row > span {
  display: block;
  float: left;
  margin: 2px 2%;
  padding: 0;
  min-height: 25px;
}

.property-row span.value {
  cursor: pointer;
  width: 46%;
  padding: 0;
  margin: 0;
}

.property-row span.value:hover {
  cursor: pointer;
}

.property-row span.title {
  font-size: 13px;
  font-weight: bold;
  width: 46%;
}

.property-row span.title-removed {
  font-size: 13px;
  font-weight: normal;
  width: 46%;
}

.propertySection.collapsed {
  max-height: 50px;
  height: 50px;
  overflow: hidden;
}

.propertySection.collapsed .selected-item-title {
  border: none;
}

.property-row input[type="text"] {
  height: 25px;
  margin: 2px 0;
  padding: 0px 5px;
  width: 100%;
  outline: none;
  border: none !important;
  box-shadow: none !important;
}

.modal-dialog.modal-maxheight {
  max-height: 724px;
  overflow-y: auto;
}

/** collapse stencils **/
#paletteSectionFooter {
  height: 50px;
  text-align: center;
  background-color: #e8edf1;
  border-top: 1px solid #a4acb9;
  border-right: 1px solid #a4acb9;
  cursor: pointer;
  bottom: 0;
}

#paletteSectionFooter i {
  line-height: 50px !important;
}

#paletteSectionOpen {
  width: 30px;
  height: 50px;
  background-color: #e8edf1;
  text-align: center;
  bottom: 1px;
  position: fixed;
  z-index: 101;
  border-top: 1px solid #a4acb9;
  border-right: 1px solid #a4acb9;
  cursor: pointer;
  left: 0;
}

#paletteSectionOpen i {
  line-height: 50px !important;
}

/*** Selection Frame ***/
.Oryx_SelectionFrame {
  position: absolute;
  border: 1px dotted gray;
  background: none;
}

.LoadingIndicator {
  background-image: url('./images/loading.gif');
}

.ValidateButton {
  width: 24px;
  height: 24px;
  padding: 2px;
  position: absolute;
  cursor: pointer;
  &:hover {
    background-color: #999999;
    background-color: rgba(193, 229, 238, 0.7);
    opacity: 1 !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
}

.validationGrid {
  border: 1px solid rgb(212, 212, 212);
  height: 300px;
}

// 右键上下文样式
.contextmenu {
  margin: 0;
  padding: 0;
  min-width: 80px;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  color: #000;
  font-size: 12px;
  z-index: 999;
  list-style: none;
  position: absolute;
  /*display: none;*/
}

.contextmenu .disable {
  color: rgba(0, 0, 0, 0.25);
}

.contextmenu .command {
  white-space: nowrap;
  width: 100%;
  height: 24px;
  line-height: 20px;
  padding: 2px 8px;
  cursor: pointer;
  &:not(:last-child) {
    border-bottom: 1px #f3f3f3 solid;
  }
}

.contextmenu .command:hover {
  cursor: pointer;
  background: #E6F7FF;
}

.contextmenu .command.disable:hover {
  cursor: default;
  background: none;
}

.contextmenu span:nth-of-type(1) {
  float: left;
}

.contextmenu span:nth-of-type(2) {
  float: right;
}
